{% extends "base.html" %}
{% block title %}
Запись пользователя
{% endblock %}
{% block style %}
	{% include "style.html" %}
{% endblock %}
{% block menu %}
	{% include "menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<li>
			<a href="/user_list/">Список пользователей</a>
		</li>
		<li>
			<a href="/create_user/">Создать пользователя</a>
		</li>
	</div>
    <h1>Запись пользователя на тренировку</h1>
    <form method="post">
        <select size="3" name="training_name">
            {% for item in trainings %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <select size="3" name="user_name">
            {% for item in users %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Записать</button>
    </form>
{% endblock %}