{% extends "base.html" %}
{% block title %}
Создание пользователя
{% endblock %}
{% block style %}
	{% include "style.html" %}
{% endblock %}
{% block menu %}
	{% include "menu.html" %}
{% endblock %}
{% block body %}
    <div>
        <a href="/training_list/?id={{id}}">Назад</a>
    </div>

    <br>
    <br>

    <div>
        <h1>Создание тренировки для категории "{{name}}"</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Название">
            <button type="submit">Сохранить и вернуться к списку курсов</button>
        </form>
    </div>
{% endblock %}