{% extends "base.html" %}
{% block title %}
Контакты
{% endblock %}
{% block style %}
	{% include "style.html" %}
{% endblock %}
{% block menu %}
	{% include "menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<a href="/create_category/">Создать новую категорию тренировок</a>
	</div>
	<div>
		<h1>Список существующих категорий</h1>
        {% for item in objects_lst %}
        <li>
            {{item.name}} <span>Количество тренировок: {{item.trainings_amount()}}</span>
			<a href="/training_list/?id={{item.id}}">Показать тренировки</a>
        </li>
        {% endfor %}
	</div>
{% endblock %}