<div class="content">
    <h1>Программы обучения</h1>
    <h3><b>ЖЕНСКИЙ ТРЕНАЖЕРНЫЙ ЗАЛ</b></h3>
    <h3>Расписание на: {{data}}</h3>
    <h3>Это особая территория, исключительно женская, без посторонних глаз и косых взглядов "качков".<br>
        Здесь вы научитесь использовать тренажеры во благо своего здоровья и внешнего вида</h3>
    <table>
        <tr class="head">
            <th></th>
            <th>19.04.2022</th>
            <th>20.04.2022</th>
            <th>21.04.2022</th>
        </tr>
        <tr>
            <th>Pilates</th>
            <td>Селюк Марина<br />08:45 - 09:35</td>
            <td>Селюк Марина<br />08:45 - 09:35 </td>
            <td>Селюк Марина<br />08:30 - 09:20</td>
        </tr>
        <tr class="even">
            <th>Body Tonus</th>
            <td>Пожидаева Анастасия<br />09:20 - 10:20</td>
            <td>Пожидаева Анастасия<br />09:35 - 10:36</td>
            <td>Пожидаева Анастасия<br />10:00 - 11:00</td>
        </tr>
        <tr>
            <th>Аэройога</th>
            <td>Герасименко Мария<br />13:00 - 14:10</td>
            <td>Герасименко Мария<br />13:20 - 14:30</td>
            <td>Герасименко Мария<br />11:15 - 12:25</td>
        </tr>
        <tr class="even">
            <th>Здоровая спина</th>
            <td>Герасименко Мария<br />15:00 - 16:00</td>
            <td>Герасименко Мария<br />15:00 - 16:00</td>
            <td>Герасименко Мария<br />16:00 - 17:00</td>
        </tr>
    </table>
        <form action="" method="post">
			<fieldset>
                <legend><b>Регистрация на сайте</b></legend>
				<p><label class="title" for="name">Ваше имя:</label>
					 <input type="text" name="name" id="name"><br />
					 <label class="title" for="email">Ваш email:</label>
					 <input type="text" name="email" id="email"></p>
			</fieldset>
 	    <div class="submit"><input type="submit" value="Регистрация" /></div>
    </form>
</div>